*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
   
}

body{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}
a{
    color: black;
}
/* main-nav */
.main-nav{
    display: flex;
    min-height: 60px;
    background-color: rgba(255, 196, 0, 0.836);
    align-items: center;
}
.nav-title{
    width: 40%;
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
   text-align: center;
   cursor: pointer;
   color: rgb(102, 98, 98);
}
.divider{
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.nav-items{
    width: 60%;
}
.nav-items ul{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    font-size: 1.12rem;
}
.nav-items ul li{
    margin-right: 10px;
    color: rgb(100, 95, 95);
}
.nav-items ul li :hover{
    color: white;
}
@media(max-width:600px){
    .main-nav{
        flex-direction: column;
        font-size: 2.75rem;
        text-align: center;
        
    }
    .divider{
        font-size: .6rem;
        margin-bottom: .5rem;
        
    justify-content: space-between;
    }
    .main-nav ul{
        flex-direction: column;
        
    }
    .main-nav ul li{
        margin-top: 5px;
        text-align: center;
    }
    .nav-title{
        font-size: 2rem;
    }
    .nav-items{
        width: 40%;
        margin-right: 1.12rem;
    }
    .nav-items ul li{
        margin-right: 2px;
    }
}
/* general */

.arrow {
    border: solid #EAB452;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
/* cover */
.cover-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#cover{
    background-image: url(../assets/image/cover.jpg);
    background-position: center center;
    position: relative;
    height: 100vh;
    width: 100%;
}
@media(max-width:675px){
    #cover{ 
    background-position:center center ;
    }
}
.cover-title{
    width: 100%;
    color: rgba(255, 255, 255, 0.822);
   text-align:end ;
   margin-top: 5rem;

}
.cover-title h1{
    font-size: 4.5rem;
    font-weight: 400;
}
.cover-title h5{
    font-size: 2.24rem;
}
.cover-btn-container{
    position: absolute;
    bottom: 25%;
}
.container{
    width: 100%;
    display: flex;
    position: relative;
}

.info-container{
    width: 30%;
}

.signature{
    margin-top: 2rem;
    font-family: 'Yellowtail', cursive;
    font-size: 1.8rem;
}

/* btn */
.btn{
    background-color: transparent;
    overflow: none;
    border: none;
    cursor: pointer;
}
.btn a{
    color: #EAB452;
}

.btn-downwards{
    font-size: 1.12rem;
    transform: rotate(90deg);
}

/* about me */
#about-me{
}
.container{
    width: 100%;
    margin-top: 1.12rem;
    min-height: 20rem;
}
.aboutme-btn-container{
    position: relative;
    width: 25%;
}
.info-container{
    width: 35%;
}
.abme-position{
    position: absolute;
    bottom: 5rem;
}
.aboutme-sec-title{
    text-align: center;
    margin-top: 1.7rem;
    text-align: center;
}
.bio{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.btn-download-container{
width: 40%;
height: 100%;
position: relative;

}
.btn-download-container img{
    width: 100%;
    
    max-height: 665px;
}
.btn-download{
        width: 100px;
        height: 30px;
        background-color: dodgerblue;
        outline: none;
        padding: 2px;
        text-align: center;
        font-size: .8rem;
        color: white;
        border-radius: 15px;
        text-transform: capitalize;
        box-shadow: 3px 3px 5px rgb(151, 146, 146);
}
.btn-download:hover{
    background-color: royalblue;
}
.btn-download:active{
    
    transform: translatex(3px);
    box-shadow: none;
}
  .social{
margin-top:1rem;

}  
.spacer i{
    margin-right: 1rem;
}
.social div{
    display: flex;  
}
.spacer{
    margin-bottom:10px;
}

@media(max-width:400px){
    .btn-downwards{
        font-size: .7rem;
    }
    .cover-btn-container{
        bottom: 5rem;
        left: 0px;
    }
    .cover-title h1{
        font-size: 2rem;
        font-weight: 400;
    }
    .cover-title h5{
        font-size: 1rem;
    }
    .aboutme-sec-title{
        font-size: .7rem;
    }
    .bio{
        font-size: .7rem;
        text-align: right;
    }
    .info-container p{
        font-size: .66rem;
        text-align: center;
    }
    .social{
        font-size: .5rem;
        margin: .5rem;
    }
    .spacer{
        margin: .2rem;
    }
    .signature{
        font-size: .7rem;
    }
}
 

/* skills */

#knowledge{
    background-color: #FFCD2A;
}
.inner-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
    height: 90%;
}
.service-btn-container{
    width: 30%;
}
.knowledge-btn-container{
    position: absolute;
    bottom: 4rem;
}
.knowledge-btn-container button{
    margin-bottom: 2rem;
}
.service-title{
margin-top: 3rem;
font-size: 1rem;
margin-right: 1rem;
text-align: right;
}
.knowledge-sec-title{
    margin-left: 2rem;
}
.card-container{
    margin-top:2rem ;/* 
    border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 1rem;
}
.semi-card-container{
    width: 40%;

}
.card{
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
}
.card h4{
    margin-bottom: .5rem;
}
@media(max-width:400px){
   .card-container{
       display: inline-block;
       text-align: center;
   }
   .semi-card-container{
       width: 100%;
   }

}
.color-white{
    color: white;
}
.knowledge-btn-container a{
    color: white;
}
.white-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
i{
    margin-right: 5px;
}
#skills{
    border: 1px solid black;
    background-color: rgb(29, 26, 26);
    color: white;
}
.skill-sec-title{
    width: 20%;
    position: relative;
}
.skill-sub-sec{
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    color: #FFCD2A;
}

.skill-img{
    width: 40%;
    margin-left: .5rem;
    margin-right: .5rem;
}
.skill-img img{
    width: 100%;
}
.skill-details
{
    width: 40%;
    
}

.percent{
    margin-left: 1rem;
    margin-top: 2rem;
}
.skill-container{
    width: 70%;
    background-color: rgb(199, 182, 182);
  /*   border-radius: 20px; */
}
.percent ul li{
    margin-bottom: 1rem;
}
.checked{
    color: #EAB452;
}
.stars{
    width: 50%;
}
.skill-space{
   display: flex;
   font-size: 2rem;
   margin-bottom: 5px;
}
@media(max-width:550px){
    .percent ul{
        font-size: .7rem;
    }
    .skill-space{
        font-size: .7rem;
    }
}
@media(max-width:450px){
    .percent ul{
        font-size: .3rem;
    }
    .skill-space{
        font-size: .4rem;
    }
}

#footer{
    background-color: #FFCD2A;
    text-align: center;
}